# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.out

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
*.eggs/

# Streamlit cache
.streamlit/

# Test and coverage
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Misc
*.sqlite3
*.db
*.bak
*.swp